<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987971997627-4ic0mf44dmnrvu7qge9g7l97u8kr7bk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987971997627-4ic0mf44dmnrvu7qge9g7l97u8kr7bk3</string>
	<key>API_KEY</key>
	<string>AIzaSyBZlcO6Lpphc91WatpWRaKRYYGQJ0aMNZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>987971997627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.kaique.Login-ViewCode</string>
	<key>PROJECT_ID</key>
	<string>message-viewcode</string>
	<key>STORAGE_BUCKET</key>
	<string>message-viewcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987971997627:ios:dfd3866064e303b7cabe9e</string>
</dict>
</plist>